ol,ul {
	list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 11;
    max-width: 100%;
    background-color: black;
    padding: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 80px;
}

li {
    float: right;
    display: flex;
}

li:last-child{
    border-right: 5px solid #bbb;
}

.nav-link{
    color: white;
    padding: 20px;
    text-decoration:none;
}

.nav-link-logo{
    padding: 10px;
}

.nav-item{
    padding: 10px;
}

.nav-item:hover {
    background-color: #ffffff41;
}

.nav-item-logo{
    float: left;
}

#logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*display: inline-block;vertical-align: middle;*/

