html,body {
    scroll-behavior: smooth;
    height: 100%;
    font-family: Verdana;
}

.header {
    text-align: center;
    background-color: rgb(5, 3, 68);
    background-image: url("../images/pngwing.com.png");
    height: 100vh;
    width: 100%;
}

.footer{
    background-color: black;
    text-align: center;
    padding: 5%;
    width: 100%;
}

#footer-logo {
    text-align: center;
}

.black-content-heading1 {
    color: white;
    padding: 100px;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: left;
}

.content-heading1 {
    color: black;
    padding: 100px;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: left;
}

.content-heading1-centered {
    color: white;
    padding: 100px;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
}

.black-content-heading2 {
    color: #fdd521;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-heading2 {
    color: #fdd521;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-paragraph {
    color: black;
    padding: 100px;
    padding-top: 20px;
    text-justify: auto;
}

.black-content-paragraph {
    color: white;
    padding: 100px;
    padding-top: 20px;
    text-justify: auto;
}

#content-about {
    color: white;
}

#content-pricing {
    background: rgba(0, 0, 0, 0.74);
}

.content-pricing-text {
    color: white;
}

* {
    box-sizing: border-box;
}
  
  /* Two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 600px;
  }

  .left {
    width: 35%;
    background: rgba(255, 255, 255, 0.74);
    background-image: url(../images/pngegg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
  }
  
  .right {
    width: 65%;
    background: rgba(0, 0, 0, 0.74);
    /*filter: blur(8px);
    -webkit-filter: blur(8px); bg image blur*/
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

